/* Navbar.css */

.navbar {
  background-color: #343a40; /* Dark background */
}

.navbar-brand {
  font-weight: bold;
}

.nav-link,
.navbar-brand,
.nav-dropdown .dropdown-item {
  color: #ffffff !important; /* White text */
}

.nav-link:hover,
.dropdown-item:hover {
  color: #007bff !important; /* Primary blue on hover */
}

.navbar-nav .nav-link {
  margin-right: 15px; /* Spacing between links */
}

.bi-cart {
  font-size: 1.2rem;
}
.addcss {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
button.btn.btn-outline-success {
  --bs-btn-border-color: #ffffff;
  color: white;
}
button.btn.btn-outline-success:hover {
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  color: #007bff;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
