/* OTPVerification.css */

.otp-container {
  background-color: #f8f9fa; /* Light grey background */
}

.otp-card {
  background-color: #ffffff; /* White background for card */
  border-radius: 8px; /* Rounded corners */
  max-width: 400px; /* Max width for card */
  width: 100%;
}

.form-label {
  font-weight: 500; /* Slightly bold labels */
}

.btn-primary {
  background-color: #007bff; /* Primary blue */
  border: none; /* Remove border */
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.btnSetup:hover {
  color: #007bff;
  background-color: #343a40;
}
.btnSetup {
  background-color: #343a40;
}
.h2Setup {
  color: #343a40 !important;
}
.otp-container.d-flex.justify-content-center.align-items-center.vh-100 {
  flex-direction: column;
}
